## **Lab Work 2 - Feature Extraction, Encoding, Standardization**

### **Step 0 - Import Library**

In [12]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

### **Step 1 - Load Data**

In [13]:
dpath = 'D:\Machine Learning\Dataset\JS2-LW2-Titanic-Dataset-Fixed.csv'
df = pd.read_csv(dpath)
df.head()

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115

### **Step 2 - Slice Data**

In [14]:
df = df[['Survived', 'Pclass', 'Age', 'Sex', 'Cabin']]
df.head()

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115

### **Step 3 - Encoding**
Encoding on "Sex" and "Cabin"

In [15]:
le = LabelEncoder() # membuat objek dari LabelEncoder
df['Sex'] = le.fit_transform(df['Sex']) # proses encoding
df['Cabin'] = le.fit_transform(df['Cabin']) # proses encoding

### **Step 4 - Verification**

In [16]:
df.head()

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115

### **Langkah 5 - Standarisasi**

In [17]:
std = StandardScaler()
df['Age'] = std.fit_transform(df[['Age']])

### **Langkah 6 - Verifikasi Hasil Standarisasi**

In [18]:
df.head()

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115

In [19]:
df.to_csv('D:\Machine Learning\Dataset\JS2-LW2-Titanic-Dataset-Fixed.csv', index=False)